:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgb(240, 240, 240);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  background: rgb(240, 240, 240);
}
html {
  font-size: 16px;
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 10px;
  }
  @media (max-width: $mantine-breakpoint-md) {
    font-size: 6px;
  }
  /* @media (max-width: $mantine-breakpoint-md) {
    font-size: 6px;
  }
  @media (max-width: $mantine-breakpoint-xl) {
    font-size: 14px;
  }
  @media (min-width: $mantine-breakpoint-xl) {
    font-size: 16px;
  } */
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"), url("./assets/fonts/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"), url("./assets/fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"), url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins-Medium"), url("./assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins-Bold"), url("./assets/fonts/Poppins-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}
